
        body {
            background-color: rgb(218, 179, 211);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 10px;
            
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 35px;
            overflow: hidden;
            background-color: rgb(133, 56, 153);
            display: flex;
            justify-content: center;
            margin-top: 0px;
            margin-bottom: 0;
        }
        li {
            float: left;
        }
        li a {
            display: block;
            padding: 15px;
            color: rgb(255, 255, 255);
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            padding: 40px 30px;
            text-decoration: none;
           
        }
        li a:hover {
            background-color: antiquewhite;
            transition: all 500ms;
            font-size-adjust: 20px;
            
        }
        h1{
            text-align: center;
            margin-top: 0px;
            font-size: 45px;
            color: #4b2c5e;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
        }
        p {
           
            padding: 20px;
            text-align: center;
            border: 3px solid purple;   
            background: #d4d0cc;
                   
            border-radius: 12px;
            margin-bottom: 100px;
            
}
.centrada {
  display: block;      
  margin: 0 auto; 
  border: 5px solid rgb(191, 36, 121);     
}    
#nombre{
    margin-top: 40px;

}
h2{
   margin-top: 80px; 
   text-align: center;
}
